[submodule "ds000105"]
	path = ds000105
	url = https://github.com/OpenNeuroDatasets/ds000105.git
	datalad-id = c01c2348-8708-11e8-930d-0242ac12000d
	datalad-url = https://github.com/OpenNeuroDatasets/ds000105.git
