[submodule "ds000105"]
	path = ds000105
	url = https://github.com/OpenNeuroDatasets/ds000105.git
	datalad-id = c01c2348-8708-11e8-930d-0242ac12000d
	datalad-url = https://github.com/OpenNeuroDatasets/ds000105.git
[submodule "code"]
	path = code
	url = https://github.com/tkkuehn/demo-datalad-brainhack-code.git
	datalad-id = da0c6ac7-6a5d-4d0a-a8ef-d0357b7db9b7
	datalad-url = https://github.com/tkkuehn/demo-datalad-brainhack-code.git
[submodule "outputs"]
	path = outputs
	url = https://github.com/tkkuehn/demo-datalad-brainhack-outputs.git
	datalad-id = e92db8a9-b173-4785-8fb5-f28e37b1e1c1
	datalad-url = https://github.com/tkkuehn/demo-datalad-brainhack-outputs.git
